* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta Malar', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Impede rolagem */
}

.container {
  max-width: 1450px;
  margin-inline: auto;
}

body {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logo-img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.logo-img img {
  height: 40px;
  object-fit: contain;
}

/* BANNER */
.banner-homepage {
  position: relative;
  background: url(../../assets/img/Banner.svg) no-repeat center center;
  background-size: cover;
  background-position-y: 30%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.title-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 100px;
  gap: 1rem;
}

#title-2-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: -5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 2rem;
}

#botao-explorar-criar {
  width: 290px;
  height: 60px;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 50px;
  background-color: #fff;
  color: #262626;
  box-shadow: 0px 1px 15px -5px black;
  cursor: pointer;
}

#botao-explorar-criar:hover {
  background-color: #FF8800;
  color: white;
  transition: ease-in-out 0.3s;
}

/* FILTROS */
.filters {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.filtros-containerzinho {
  display: flex;
  gap: 55px;
}

.filtro-btn {
  width: 200px;
  height: 60px;
  border-radius: 50px;
  font-size: 18px;
  border: none;
}

.orange-filter {
  background-color: #FF8800;
  color: white;
}

.title-filters {
  font-size: 17px;
}
