
.search-input-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-input {
    width: 800px;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    border: none;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #333;
    font-family: 'Fredoka';
}

.search-input:focus {
    outline: none;
}

.search-icon {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 3%;
}

.feed-page{
display: flex;
flex-direction: row;
width: 100%;
}

.work-contract-container{
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.feed-container{
flex: 3;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
}

.categories-container{
flex: 1;
height: 100vh;
}

.work-contract{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 300px;
    width: 100%;

}

.work, .contract{
    color: #fff;
    background-color: #ff8800;
    font-size: 17px;
    padding: 10px;
    width: 180px;
    height: 90px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    line-height: 18px;
}

.contract:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}
.work:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}

.post-container {
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding: 16px;
    margin: 40px auto;
    max-width: 800px;
    gap: 20px;

    overflow-y: auto;

    /* Ocultar visualmente a barra de rolagem */
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE e Edge antigos */
  }
  
  .post-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .post-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post-header {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .post-title {
    font-size: 30px;
    font-weight: bold;
    color: #262626;
  }
  
  .post-category {
    background: linear-gradient(to right, #FFA947, #FF8800);
    color: white;
    padding: 4px 26px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .post-description {
    font-size: 16px;
    color: #444;
    margin: 10px 0;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-price {
    font-size: 22px;
    font-weight: bold;
    color: #333;
  }
  
  .post-user-info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: #333;
  }
  
  .user-avatar {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .post-urgent {
    color: #ff8c00;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .post-urgent-img{
    width: 50px;
    height: 50px;
  }

  .direita.ativo .menu1 {
    transform: rotate(45deg) translate(8px, 8px);
}

.direita.ativo .menu2 {
    opacity: 0;
}

.direita.ativo .menu3 {
    transform: rotate(-45deg) translate(8px, -8px);
}


.login {
    height: 40px;
    width: 142px;
    border-radius: 50px;
    background-color: #ff8800;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
}

.menu-opcoes {
    display: none;
    position: absolute;
    top: 80px;
    left: 10px;
    background-color: #262626;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);

    font-family: arial;
}

.menu-opcoes.ativo{
  display: block;
}

.menu-opcoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-opcoes li {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;

}

.menu-opcoes li:hover {
    background-color: #ff8800;
}


.direita {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;

  cursor: pointer;
}

.direita span {
  background-color: #ff8800;
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px 0;
  transition: 0.4s ease;
  border-radius: 2px;
  border: 1.467234px solid #ff8800;
}

